body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  /* background: linear-gradient(to right, #0f172a, #1e293b); */
  color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background-color: #1e293b;
  padding: 25px;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 0.9rem;
  color: #cbd5e1;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  outline: none;
  margin-bottom: 15px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

button:hover {
  background-color: #1d4ed8;
}

.status-box,
.result-box {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #0f172a;
  animation: fadeIn 0.5s ease;
}

.loader {
  border: 5px solid #94a3b8;
  border-top: 5px solid #3b82f6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(135deg, #2b3c55, #293149);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}
.container {
  width: 90%;
  max-width: 900px;
  margin: 10% auto;

  padding: 40px;
  border-radius: 20px;
  background-color: #182229;
  box-shadow: 0 0 20px rgba(33, 53, 34, 0.6);
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

